/* fonts */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300;400;500;600;700&display=swap");
/* icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
/* main css */
:root {
  /* colors */
  --Lightest: #f4eeff;
  --Lighter: #d1baff;
  --Light: #af86ff;
  --Primary: #8c52ff;
  --Dark: #6239b3;
  --Darker: #462980;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 10px;
  font-weight: 400;
  background-color: var(--Lightest);
  color: var(--Primary);
  position: relative;
}

/*  */
.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
}
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

/* wlc section */
.wlc {
  width: 100%;
  height: 100svh;
  display: flex;
  align-items: center;
}
.wlc .wlc-content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.wlc .wlc-content img {
  width: 100%;
  
}
.wlc .wlc-content h1 {
  font-size: 2rem;
}
.wlc .wlc-content p {
  font-size: 1rem;
  font-weight: 500;
}
.wlc .wlc-content a {
  font-size: 1rem;
  font-weight: 500;
  color: var(--Lighter);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  transition: 0.3s ease color;
}
.wlc .wlc-content a:hover {
  color: var(--Primary);
}
.wlc .wlc-content a i {
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Primary);
  color: var(--Lightest);
  border-radius: 50%;
}
