/* Global CSS */
@import url("../css/readexpro.css");
:root {
  /* Colors */
  --primary: #5271ff;
  --secondary: #949cbf;
  --lightest: #f6f8ff;
  --light: #bac6ff;
  --dark: #293980;
  --white: #ffffff;
  --function: 0.3s linear;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
}
body {
  font-family: "ReadexPro";
  background-color: var(--lightest);
  color: var(--dark);
}
/* container */
.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
@media only screen and (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
/* end container */

/* landing section */
.landing-content {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  gap: 10px;
}
.landing-content .card {
  background-color: var(--white);
  width: 300px;
  padding-top: 5rem;
  padding-bottom: 1rem;
  border-radius: 5px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 10px;
}
.landing-content .profile-img {
  position: absolute;
  width: 150px;
  top: -90px;
  border-radius: 50%;
  outline: 10px solid var(--lightest);
}
.landing-content .name {
  font-size: 2.5rem;
  color: var(--primary);
  font-weight: 600;
  margin-bottom: -10px;
}
.landing-content .job {
  font-size: 1.2rem;
  color: var(--secondary);
}
.landing-content .techs .tech {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  background-color: var(--dark);
  color: var(--lightest);
  height: 20px;
  padding: 0 0.5rem;
  border-radius: 50px;
}
.landing-content .techs .html {
  background-color: #e96228;
}
.landing-content .techs .css {
  background-color: #2862e9;
}
.landing-content .social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.landing-content .social-links a {
  color: var(--primary);
  transition: var(--function) color;
}
.landing-content .social-links a:hover {
  color: var(--dark);
}
.landing-content .portfolio-link {
  text-decoration: none;
  background-color: var(--primary);
  color: var(--lightest);
  padding: 0.5rem 1rem;
  width: 300px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  transition: var(--function) background-color;
}
.landing-content .portfolio-link:hover {
  background-color: rgb(76, 99, 240);
}
/* end landing section */

/* portfolio */
.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  gap: 10px;
  height: 100dvh;
}
.back-home {
  font-size: 14px;
  color: var(--secondary);
  text-decoration: none;
}
.back-home:hover {
  text-decoration: underline;
}
/* end portfolio */

