/* Home Section CSS */

.home {
  padding-top: 100px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.profile {
  position: relative;
  background-color: #fff;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  padding: 0 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  padding-top: 75px;
}

.profile-pic {
  position: absolute;
  top: -75px;
  width: 150px;
}

.profile-name {
  font-size: 2rem;
  color: var(--royalblue);
  margin-bottom: -5px;
}

.profile-title {
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.profile-my-tech {
  direction: ltr;
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

.tech {
  padding: 0 0.5rem;
  background-color: var(--bgc);
  border-radius: 50px;
  height: 20px;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.html {
  background-color: #e34c26;
}

.css {
  background-color: #264de4;
}

.github {
  background-color: #000;
}

.profile-contact {
  direction: ltr;
  display: flex;
  gap: 5px;
}

.profile-contact a {
  text-decoration: none;
  font-size: 1rem;
  color: var(--darkblue);
}
