@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300;400;500;600;700&display=swap");

/* Header CSS */
@import url(../css/header.css);
@import url(../css/home.css);

:root {
  /* main Color */
  --royalblue: #5271ff;
  --darkblue: hsla(210, 50%, 13%, 80%);
  /* Background Color */
  --bgc: #f5f7fd;
  --rbT: hsla(225, 73%, 57%, 10%);
  --dbT: hsla(210, 50%, 13%, 25%);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  direction: rtl;
  background-color: var(--bgc);
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 10px;
  color: var(--darkblue);
}
