@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300;400;500;600;700&display=swap");

/* Header CSS */
@import url(../css/header.css);
@import url(../css/home.css);
@import url(../css/about-me.css);

:root {
  /* main Color */
  --royalblue: #5271ff;
  --darkblue: #112233;
  /* Background Color */
  --bgc: #ffffff;
  --rbT: hsla(225, 73%, 57%, 10%);
  --dbT: hsla(210, 50%, 13%, 25%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  direction: rtl;
  background-color: var(--bgc);
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 10px;
  color: var(--darkblue);
}

.sec-title {
  font-size: 2.5rem;
  color: var(--royalblue);
}

.sec-bio {
  font-size: 1.2rem;
  text-align: center;
}

.sec-bio span {
  color: var(--royalblue);
  font-weight: 500;
}

.sec-bio a {
  text-decoration: none;
  color: var(--royalblue);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  position: relative;
}

.sec-bio a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  right: 0;
  width: 0;
  height: 2px;
  background-color: var(--royalblue);
  transition: width 0.3s ease;
}

.sec-bio a:hover::after {
  width: 100%;
}

@media screen and (max-width: 420px) {
  .sec-bio {
    font-size: 0.9rem;
  }
}
